.m1 {
  font-size: 47px;
  color: #00ffff;
  font-family: Microsoft JhengHei UI;
  border-bottom: 3px solid #ffb6c1;
}

.m1:hover {
  color: #ffb6c1;
  border-bottom: 3px solid #00ffff;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #dcdcdc;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  margin: 60px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.flex1 {
  background-color: #dcdcdc;
  justify-content: center;
  font-family: Segoe UI Black;
  color: black;
}

.flex1:hover {
  background-color: #f08080;
  font-family: Segoe UI Black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
