.m1{
	font-size: 50px;
	color: black;
	font-family: Microsoft YaHei Light;
}

.m1:hover{
	color: brown;
}

input[type=text] {
  width: 50%;
  height: 100px;
  font-family: Segoe UI Black;
  font-size: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#A9A9A9;
  color: blue;
}
input[type=text]:focus{
 background-color: #FFFF00;
}

input[type=text1] {
  width: 20%;
  text-align: center;
  height: 100px;
  font-family: Segoe UI Black;
  font-size: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid black;
  border-radius: 20px;
  background-color:#A9A9A9;
  color: blue;
}
input[type=text1]:focus{
 background-color: #FFFF00;
}

.button1{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #F08080; 
  color: black; 
  border-radius: 20px;
  border: 2px solid black;
}

.button1:hover {
  background-color: DodgerBlue;
  color: white;
  border: 3px solid Tomato;
}

.button1:{
	 background-color: #F08080; 
  color: black; 
  border-radius: 20px;
  border: 3px solid black;
}

*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  font-family: Microsoft YaHei Light;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  background-color: #00FF00;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '+';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

